#addWorkoutCard {
	margin-bottom: 25px;
}

#form-workout.form input {
	margin-bottom: 15px;
}

#form-social.form input {
	margin-bottom: 15px;
}

form#form-workout.form {
	width: 100%;
}

#alertSection {
	margin-top: 125px;
}