/* Global CSS file for all dashboard pages */

/* Global dashboard navbar styling */
.navbar {
	font-family: 'Montserrat', sans-serif;
	background-color: #1f1f1f;
}

.navbar-text {
	text-align: center
}

.navbar.navbar-expand-lg.navbar-dark li a{
    color: whitesmoke !important;
    font-size: 1.05rem;
}

.navbar.navbar-expand-lg.navbar-dark p{
    color: whitesmoke !important;
    font-size: 1.05rem;
}


#navbarSupportedContent {
	text-align: right;
}

form {
	width: 39%;
}

#home {
	padding-left;
	padding-right;
}

/* Global dashboard non-navbar related styling*/

.btn {
    background-color: #1261a0;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.card-header {
	font-family: 'Montserrat', sans-serif;
}

h4 {
	color:white !important;
}

h5 {
	color: #1261a0;
}

h6 {
    font-size: 0.8rem;
    color: #1f1f1f;
}

/* Global dashboard navbar search bar styling */

@media screen and (min-width: 0px) and (max-width: 499px) {
	form {
		width: 75%;
	}

}

@media screen and (min-width: 499px) and (max-width: 768px) {
	form {
		width: 75%;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	form {
		width: 75%;
	}
}

@media screen and (min-width: 992px) and (max-width:1249px) {
	form {
		width: 25%;
	}
}

@media screen and (min-width: 1249px) and (max-width: 1499px) {

}

@media screen and (min-width: 1499px) and (max-width: 1749px) {

}

@media screen and (min-width: 1749px) and (max-width: 2149px) {

}

@media screen and (min-width: 2149px) {
    html {
        font-size: 16px;
    }
}