#user-banner {
    margin-top: 125px;
}

#profile-post {
    margin-top: 25px;
    margin-bottom: 25px;
}

#user-name {
	font-family: 'Montserrat', sans-serif;
}

#user-about p {
	margin-bottom: 2.5px;
}

#user-name h6 {
	font-size: 0.8rem;
}

#user-social button {
	margin-right: 5px;
	margin-bottom: 5px;
}

hr {
	margin-bottom: 25px;
}