#dashboard-post-area {
	margin-top: 75px;
	margin-bottom: 75px;
}

#dashboard-post {
	margin-bottom: 25px;
}

h4 {
	color:white !important;
}

h5 {
	color: #1261a0;
}

h6 {
    font-size: 0.8rem;
    color: #1f1f1f;
}