.navbar.navbar-expand-lg.navbar-light li a{
    color: black !important;
    font-size: 1.05rem;
}

.navbar {
	background-color: white;
}

#navbarSupportedContent {
	text-align: right;
}

#search {
	max-width: 75%;
}

#test {
	height: 600px;
}

#dashboard-post {
	margin-top: 60px;
}

h6 {
    font-size: 0.8rem;

}


@media screen and (min-width: 0px) and (max-width: 499px) {

}

@media screen and (min-width: 499px) and (max-width: 768px) {

}

@media screen and (min-width: 768px) and (max-width: 992px) {

}

@media screen and (min-width: 992px) and (max-width:1249px) {
 	#search {
		max-width: 50%;
	}
}

@media screen and (min-width: 1249px) and (max-width: 1499px) {
  	#search {
		max-width: 50%;
	}
}

@media screen and (min-width: 1499px) and (max-width: 1749px) {
 	#search {
		max-width: 50%;
	}
}

@media screen and (min-width: 1749px) and (max-width: 2149px) {
 	#search {
		max-width: 50%;
	}
}

@media screen and (min-width: 2149px) {
	 #search {
		max-width: 50%;
	}

    html {
        font-size: 16px;
    }
}